<div class="container">
  <h1>Debriefing</h1>
  <h3>Sepsis, 4 year old girl</h3>

  <h3>ABCDE</h3>
  <ul>
    <li>A: <mat-icon>thumb_up</mat-icon></li>
    <li>B: <mat-icon>thumb_up</mat-icon></li>
    <li>C: <mat-icon>thumb_up</mat-icon></li>
    <li>D: <mat-icon>thumb_up</mat-icon></li>
    <li>E: <mat-icon>thumb_up</mat-icon></li>
  </ul>

  <h3>Case</h3>
  <ul>
    <li>
      Recognised low sat and high respitory rate: <mat-icon>thumb_up</mat-icon>
    </li>
    <li>Gave 15l oxygen: <mat-icon>thumb_up</mat-icon></li>
  </ul>

  <h2>Success level: 100%</h2>

  <button mat-raised-button onclick="location.href = '/';">Finished</button>
</div>
